# User configuration

# export MANPATH="/usr/local/man:$MANPATH"

# You may need to manually set your language environment
# export LANG=en_US.UTF-8

# Preferred editor for local and remote sessions
if [[ -n $SSH_CONNECTION ]]; then
  export EDITOR='vim'
else
  export EDITOR='nvim'
fi

# Compilation flags
# export ARCHFLAGS="-arch x86_64"

# Set personal aliases, overriding those provided by oh-my-zsh libs,
# plugins, and themes. Aliases can be placed here, though oh-my-zsh
# users are encouraged to define aliases within the ZSH_CUSTOM folder.
# For a full list of active aliases, run `alias`.
#
# Example aliases
# alias zshconfig="mate ~/.zshrc"
# alias ohmyzsh="mate ~/.oh-my-zsh"
export CCP_BASE='{{ .development_folder }}'
export FZF_DEFAULT_COMMAND='fd --type f --hidden --follow --exclude .git'
export GITLAB_HOST='{{ (bitwardenFields "item" "Essent Gitlab").url.value }}'
export GITLAB_USER='{{ (bitwarden "item" "Essent Gitlab").login.username }}'
export GITLAB_TOKEN='{{ (bitwardenFields "item" "Essent Gitlab").pat.value }}'
export GITEA_USER='{{ (bitwarden "item" "gitea").login.username }}'
export GITEA_TOKEN='{{ (bitwarden "item" "gitea").login.password }}'

alias pep='source venv/bin/activate'
alias venv='python -m venv venv && source venv/bin/activate'
alias ls='exa'
alias awx='awsctx'
alias cm='chezmoi'
alias bw_auth='export BW_SESSION=$(bw unlock --passwordfile ~/.bw_auth --raw)'
alias b='byobu'
alias hau='echo "Updating home assistant repo";ssh pi "cd config && git pull"'
alias rs='ssh proxmox "zpool status raid"'
alias cmapply='bw_auth && cm apply -v'
alias code='codium'
alias awslocal='aws --endpoint-url=http://localhost:4566 --profile localstack'
alias op='cd $HOME/$CCP_BASE/`/bin/ls $HOME/$CCP_BASE | fzf`'
alias kx='kubectx'
alias kns='kubens'
alias xc='xclip -selection c'
alias lofi='mpv https://www.youtube.com/watch\?v\=5qap5aO4i9A --no-video'
alias tmux='TERM=ansi tmux'
alias om='glab mr view -w'
export AWS_REGION=eu-central-1
export AWS_DEFAULT_REGION=eu-central-1
{{- if eq .chezmoi.osRelease.id "opensuse-tumbleweed" }} 
alias qdbus='qdbus-qt5'
alias pyenv='CC=clang pyenv'
{{- end }}

for file in $HOME/.config/zsh-functions/*.zsh; do source $file; done


# To customize prompt, run `p10k configure` or edit ~/.p10k.zsh.
[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh
[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh

eval "$(starship init zsh)"
